# FastAPI
ADMIN_ID = {amdin_id}
ADMIN_PW = {admin_pw}
MAX_RANK = 999
ALLOWED_ORIGINS = '[{app url}]'
ALLOWED_ORIGIN_REGEX = ""

# JWT
JWT_SECRET= {JWT_SECRET}
JWT_ISSUER= {JWT_ISSUER}

# DB
DATABASE_URL= {postgresql+asyncpg://user:password@host:5432/postgres}
DB_POOL_SIZE = 3
DB_MAX_OVERFLOW = 2

# Redis
REDIS_URL=redis://redis:6379
REDIS_MAX_CONN = 5 # max redis connection per worker

# Cerbot
SERVER_URL={url}
EMAIL={EMAIL}